/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 35px solid rgb(39, 20, 20);
}

.row {
    display: contents;
}

.square {
    width: 50px;
    height: 50px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(198, 202, 206);
}

.container {
    display: grid;
    grid-template-columns: repeat(8,1fr) ;
    border: 25px solid rgb(39, 20, 20)
}

.row{
    display: contents;
}

.black {
    height: 50px;
    width: 50px;
    background-color: black;
}

.white {
    height: 50px;
    width: 50px;
    background-color: white;
}
